#skills {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.bg-image {
    object-fit: cover;
}

.carousel-image {
    height: 400px;
    object-fit: cover;
}

#poker-image {
    object-position: center -250px;
}

.project-image {
    height: 300px;
    object-fit: cover;
}

.contact-image {
    height: 300px;
}

